h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 80px;
    margin: 0;
}

h2{
    font-family: 'Lobster', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 25px;
    margin: 0;
}